#image_0{background-image:url('Result.png'); background-position:0px -0px; width:128px; height:128px; }
#image_1{background-image:url('Result.png'); background-position:128px -0px; width:128px; height:128px; }
#image_2{background-image:url('Result.png'); background-position:256px -0px; width:128px; height:128px; }
